sample_*/
.venv
.vs/
.vscode/
data/
AI burshes/
*.svg
*.zip
experiments/
network/__pycache__/
dataset/__pycache__/
__pycache__/
utils/__pycache__/
data/raw/
wandb/
diffvg/build
pretrained/ablation/
pretrained/*
utils/*.gz
utils/*.pyd
utils/*.so
utils/downsample_test.py
build/
Temp/
models/
models_ndc/
diffvg/dist
*.log
wandb
*.txt
web/output
/server-debug-last-command.py
/server-debug-commands.py
